/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li,
ul {
    list-style: none;
}

/*MY CODE*/

* {
    font-family: sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}
/*SIDE BANNER*/
.left-side {
    display: flex;
    justify-content: center;
    background-image: url(odinbackground.jpg);
    background-position: center center;
    background-size: cover;
    flex: 3;
    max-width: 700px;
    min-width: 500px;
}

.logo {
    height: 125px;
}

.banner {
    display: flex;
    background-color: rgb(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 5.5rem;
    height: 125px;
    margin-top: 20vh;
    padding: 16px;
    font-family: 'Norse Bold';
}

h1 {
    color: white;
    font-family: 'Norse Bold';
}
/*RIGHT-SIDE*/
.right-side {
    background-color: #fbfbfa;
    flex: 3;
}
.italic {
    font-style: italic;
}
/*PARA ABOVE FORM*/
.first-para,
.second-para,
.third-para {
    font-weight: 600;
    font-size: x-large;
    max-width: 750px;
    padding-left: 2em;
    padding-right: 8em;
}
.first-para {
    padding-top: 76px;
    padding-bottom: 0;
}
.second-para {
    padding-top: 0;
    padding-bottom: 2em;
}

.third-para {
    padding-bottom: 2em;
}


/*FORM CONTAINER*/
.form {
    padding: 24px 48px;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(185, 185, 185);
}

.form > p {
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 1em;
    font-family: sans-serif;
}
.input-container {
    display: flex;
    gap: 10%;
}

.input-container label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2px;
    font-weight: bold;
}

.input-container input {
    border-radius: 5px;
    border: solid #E5E7EB 1px;
    padding: 5px;
}

input:focus {
    border: none;
    outline: none;
}

input:focus:valid {
    border: solid blue 1px;
}

input:focus:invalid {
    border: solid red 1px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

form > input {
    border: 0;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 16px 64px;
    margin: 32px 64px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(185, 185, 185);
}


.ask-login {
    padding-left: 64px;
    font-weight: bold;
}

.ask-login > a {
    text-decoration: none;
    color: #596D48;
}





